body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

section {
    margin-bottom: 100px;
}

img {
    width: 100%;
}

.btn {
    text-decoration: none;
    background-color: #FF5959;
    color: #fff;
    text-transform: capitalize;
    padding: 13px 28px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

/* Hero Section Style */
.hero-section,
.commiunity-section,
.missions,
.latest-post {
    display: flex;
}

.half-width {
    width: 50%;
    margin: 0 10%;
}


.hero-left,
.hero-right {
    margin-top: 5%;
    text-transform: capitalize;
}

.hero-left h1 {
    font-family: 'Yeseva One', cursive;
    text-transform: capitalize;
}

span {
    color: orange;
}

.hero-title {
    position: relative;
}

.hero-title h1::before {
    content: "";
    position: absolute;
    height: 80%;
    width: 4px;
    top: 10px;
    left: 0;
    border-left: 4px solid #FF5959;
    margin-left: -20px;
}

/* My Mission Section Style */
.missions-section {
    margin: 100px 10%;
}

.missions-section h2 {
    text-align: center;
    font-weight: 700;
}

.missions img {
    width: 50%;
    align-content: center;
}

.single {
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 3px 2px gray;

}

.mission {
    background-color: #EDF5F6;

}

.mission p {
    color: #575959;
}

.vision {
    background-color: #FFEEEE;
}

.goals {
    background-color: #FFF4D6;
}


/* Documentation Section Style */

.documentation {
    display: flex;
    background-image: url(images/illustrators/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: left 40%;
}


.documentation .half-width:nth-child(1) {
    margin-right: 0;
}

.documentation .half-width:nth-child(2) {
    margin-left: 0;
}

.long-side {
    padding: 0 70px;
}

/* Commiunity Section style */
.commiunity-section {
    background-image: url(images/illustrators/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: right 100%;
}

/* Latest Post Section Style */
/* .latest-posts-section{
    position: relative;
}  */
.latest-posts-section h2 {
    text-align: center;
}


.latest-posts-section h2::after {
    content: "";
    width: 150px;
    margin: 0 auto;
    display: block;
    border-bottom: 3px solid #FF5959;
}

.single-post {
    padding: 15px 16px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px 8px 6px grey;
}

/* Footer section Style */
footer {
    text-align: center;
    background-color: #000;
    padding: 20px 0;
}

footer h2 {
    font-style: italic;
    color: #fff;
}

footer p {
    color: #A6A7AF;
}