body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

section {
    margin-bottom: 100px;
}

img {
    width: 100%;
}

.btn {
    text-decoration: none;
    background-color: #FF5959;
    color: #fff;
    text-transform: capitalize;
    padding: 13px 28px;
    border-radius: 5px;
}

/* Hero Section Style */
.hero-section {
    display: flex;

}

.hero-img {
    width: 70%;
}

.half-width {
    width: 50%;
    margin-left: 10%;
}

.hero-left {
    margin-top: 5%;
    text-transform: capitalize;
}

.hero-left h1 {
    text-transform: capitalize;
}

span {
    color: orange;
}

.hero-title h1 {
    border-left: 4px solid #FF5959;
    margin-right: 20px;
}

/* My Mission Section Style */
.missions-section {
    margin: 0 10%;
}

.missions-section h2 {
    text-align: center;
    font-weight: 700;
}

.missions {
    display: flex;
}

.missions img {
    width: 50%;
    align-content: center;
}

.single {
    border-radius: 20px;
    padding: 20px;
    margin: 10px;

}

.mission {
    background-color: #EDF5F6;

}

.mission p {
    color: #575959;
}

.vision {
    background-color: #FFEEEE;
}

.goals {
    background-color: #FFF4D6;
}

/* Footer section Style */
footer {
    text-align: center;
    background-color: #000;
    padding: 20px 0;
}

footer h2 {
    font-style: italic;
    color: #fff;
}

footer p {
    color: #A6A7AF;
}